{% extends 'admindashboard.html' %}
{% block content %}
<div class="creator-title"><h4>Creator List</h4></div>
<div class="table-creator">
<table class="creator-table">
    <thead>
    <tr>
        <!-- <th>No.</th> -->
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Nationality</th>
        <th>Age</th>
        <th>Password</th>
        <th>Repassword</th>
    </tr>
    </thead>
    <tbody>
        {% for i in info %}
        <tr>
            <!-- <td>{{ i.No. }}</td> -->
            <td>{{ i.fullname }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.nationality }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.password }}</td>
            <td>{{ i.repassword }}</td>
            <td><button><a href="/delete/{{ i.id }}">Delete</a></button></td>
            <td><button><a href="/update/{{ i.id }}">Update</a></button></td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <td>2</td>
            <td>Akhil</td>
            <td>akj91</td>
            <td>qwerty</td>
            <td>akj@gmail.com</td>
            <td>Indian</td>
            <td>30</td>
            <td>18/05/2022</td>
            <td><button><a href="/delete/{{ i.id }}">Delete</a></button></td>
            <td><button><a href="creator/update/{{ i.id }}">Update</a></button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Akhil</td>
            <td>akj91</td>
            <td>qwerty</td>
            <td>akj@gmail.com</td>
            <td>Indian</td>
            <td>30</td>
            <td>18/05/2022</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Akhil</td>
            <td>akj91</td>
            <td>qwerty</td>
            <td>akj@gmail.com</td>
            <td>Indian</td>
            <td>30</td>
            <td>18/05/2022</td>
        </tr> -->
</table>
</div>
{% endblock %}