{% extends 'admindashboard.html' %}
{% block content %}
<h1> hello python Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ad totam deleniti, eius itaque, reprehenderit accusamus autem quasi quae debitis fugit libero quidem, cumque corrupti nisi ullam quisquam maiores aut?</h1>
<h1> hello python Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ad totam deleniti, eius itaque, reprehenderit accusamus autem quasi quae debitis fugit libero quidem, cumque corrupti nisi ullam quisquam maiores aut?</h1>

{% endblock %}