{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewhub</title>
    <link rel="icon" href="{% static 'images/logohub.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<style>
  p{
    font-size: small;
  }
  #heading{
    color: #04aa6d;
  }
</style>

<body>
  <div class="container-fluid">
    <div class="row">  
      <div class="col-lg-12" style="background-image: url(/static/images/homebg.jpeg); background-size: cover; background-repeat: no-repeat; height:500px; width: 100%; ">
        <div class="title" style="height: 50px; background: none;" >
         <a href=""> <img src="{% static 'images/reviewhublogo.png' %}"style="height: 50px; margin: 10px;" ></a>
         <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-dark"style="color:white; float: right;margin-top: 18px; margin-right: 10px; padding-left: 30px; padding-right: 30px; border-radius: 15px; border: 1px solid black;">Log in</button></a>               
        </div>
        <center style="margin-top: 110px; color: white;">
        <h1>Create your reviews</h1>
        <h6>Everything you need right in the browser.</h6>
        <h6>Watch all product under one hub.</h6>
        <br>
        <a href="{% url 'signup1' %}"><button type="button" class="btn btn-info" style="border-radius: 15px; padding-left: 30px; padding-right: 30px;">Get started for free</button></a>  
      </center>
      </div>
    </div>
  </div>
  <center>
    <div class="container-fluid">
    <div class="row" style="padding-top: 40px;">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;" >
        <h6 id="heading">Reviews</h6>
        <p>Upload your product review videos and share it others.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;">
        <h6 id="heading">Categories</h6>
        <p>All kind of categories on a single click.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;">
        <h6 id="heading">Unlimited</h6>
        <p>Unlimited uploads without any restrictions</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;" >
        <h6 id="heading">Best platform</h6>
        <p>To make videos and reviews.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;">
        <h6 id="heading">Only one hub</h6>
        <p>All creators under one hub.</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: rgb(255, 255, 255); height: 100px; width: 100%;">
        <h6 id="heading">Free of cost</h6>
        <p>All services are at free of cost.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="img-class" style="background-color:#282a35; height: 300px; width: 100%;" >
        <h3 style="color: rgb(255, 255, 255); padding-top: 40px;">How it works</h3>
        <br>
        <img src="{% static 'images/howitworks.png' %}" style="width: 900px; height: 90px;">
        <div class="row" style="height: 70px; width: 100%; background-color: #ce519a  ;">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:#282a35; height: 80px; " >
            <p style="color: rgb(255, 255, 255);  font-size: medium; padding-left: 40px;">1. Join Reviewhub - and Create space.</p>
          </div> 
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:#282a35; height: 80px;" >
            <p style="color: rgb(255, 255, 255);  font-size: medium;">2.  Choose a category.</p>
          </div> 
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:#282a35; height: 80px;" >
            <p style="color: rgb(255, 255, 255); font-size: medium;">3.  Upload your videos.</p>
          </div> 
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:#282a35; height: 80px; padding-right: 100px;" >
            <p style="color: rgb(255, 255, 255); font-size: medium;">4.  Share your videos with your followers.</p>
          </div>
          </div>
<br>
<br>
<br>
<br>
<br>
<br>

                <footer class="text-center text-lg-start text-white" style="background-color: #441154; padding-top: 1px;">
                  <section class="">
                    <div class="container text-center text-md-start mt-5">
                   
                      <div class="row mt-3">
                       
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        
                          <h6 class="text-uppercase fw-bold">ReviewHub</h6>
                          <hr
                              class="mb-4 mt-0 d-inline-block mx-auto"
                              style="width: 100px; background-color: #7c4dff; height: 2px"
                              />
                          <p style="text-align: justify;">
                            Here you can upload & view all product related reviews on different category. This is basically a collection of review videos uploaded by different creators on their profile. Viewers can watch these videos and know more about different products.
                          </p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                         
                          <h6 class="text-uppercase fw-bold">Useful links</h6>
                          <hr
                              class="mb-4 mt-0 d-inline-block mx-auto"
                              style="width: 100px; background-color: #7c4dff; height: 2px"
                              />
                          <p>
                            <a href="{% url 'creatorlogin' %}" class="text-white">Creator Account</a>
                          </p>
                          <p>
                            <a href="{% url 'viewerlogin' %}" class="text-white"> Viewer Account</a>
                          </p>
                          <p>
                            <a href="#!" class="text-white">Help</a>
                          </p>
                        </div>
                        
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                       
                          <h6 class="text-uppercase fw-bold">Contact</h6>
                          <hr
                              class="mb-4 mt-0 d-inline-block mx-auto"
                              style="width: 100px; background-color: #7c4dff; height: 2px"
                              />
                          <p><i class="fas fa-home mr-3"></i> Calicut, KL 673603, IN</p>
                          <p><i class="fas fa-envelope mr-3"></i> info@reviewhub.com</p>
                          <p><i class="fas fa-phone mr-3"></i> + 91 934 567 88</p>
                          <p><i class="fas fa-print mr-3"></i> + 91 994 567 89</p>
                        </div>
                     
                      </div>
                      
                    </div>
                  </section>
                 
                  <div class="text-center1" style="background-color: #455d8d">
                    <div class="social">
                      <span>Get connected with us on social networks:</span>
                    </div>
                    <div class="social">
                    <a href="https://www.facebook.com/" class="text-white1 me-4">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/" class="text-white1 me-4">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com/" class="text-white1 me-4">
                      <i class="fab fa-google"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="text-white1 me-4">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/" class="text-white1 me-4">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/" class="text-white1 me-4">
                      <i class="fab fa-github"></i>
                    </a>
                    </div>
                </div>

               
                  <div
                       class="text-center p-3"
                       style="background-color: rgba(0, 0, 0, 0.2)"
                       >
                    © 2020 Copyright:
                    <a class="text-white" href=""
                       >Reviewhub.com</a
                      >
                  </div>
               
                </footer>
               
              
              </div>
   

  



  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>