{% extends 'admindashboard.html' %}
{% block content %}
<div class="creator-title"><h4>Uploaded Video Details</h4></div>
<table class="creator-table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Category</td>
            <td>Creator</td>
            <td>Length</td>
            <td>Views</td>
            <td>Uploaded Date</td>
            <td>Uploaded Time</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Motorola Edge 30</td>
            <td>Mobile</td>
            <td>C4ETech</td>
            <td>25 min</td>
            <td><span class="views above100k">100K</span></td>
            <td>10/05/2022</td>
            <td>12:05:36</td>
        </tr>
    </tbody>
    <tbody>
     <tr>
         <td>New Baleno 2022</td>
         <td>Automobile</td>
         <td>Biju M Nair</td>
         <td>36 min</td>
         <td><span class="views above200k">250K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody> 
 <tbody>
     <tr>
         <td>SuperFan X1</td>
         <td>Home Accessories</td>
         <td>AkjTech</td>
         <td>20 min</td>
         <td><span class="views above50k">80K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody> 
 <tbody>
     <tr>
         <td>Amazfit GTR 2e</td>
         <td>Smart Watch</td>
         <td>Tech Spurt</td>
         <td>23 min</td>
         <td><span class="views above100k">150K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody> 
 <tbody>
     <tr>
         <td>Hp 15da007</td>
         <td>Laptop</td>
         <td>Tomz Tech</td>
         <td>19 min</td>
         <td><span class="views above50k">90K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody>
 <tbody>
     <tr>
         <td>Xioami 11i</td>
         <td>Mobile</td>
         <td>Geeky Ranjith</td>
         <td>24 min</td>
         <td><span class="views above100k">140K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody>
 <tbody>
     <tr>
         <td>Tata Harrier</td>
         <td>Automobile</td>
         <td>AutoTech</td>
         <td>35 min</td>
         <td><span class="views above200k">210K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody> 
 <tbody>
     <tr>
         <td>Ashaway Q11</td>
         <td>Sports</td>
         <td>Joshisports</td>
         <td>19 min</td>
         <td><span class="views above50k">75K</span></td>
         <td>10/05/2022</td>
            <td>12:05:36</td>
     </tr>
 </tbody>  
  </table>
{% endblock %}