{% extends 'admindashboard.html' %}
{% block content %}
<div class="creator-title"><h4>Viewers List</h4></div>
<div class="table-creator">
<table class="creator-table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Nationality</th>
            <th>Age</th>
            <th>Added Date</th>
            <th>Total Watch Time</th>  
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Akhil</td>
                <td>akj91</td>
                <td>qwerty</td>
                <td>akj@gmail.com</td>
                <td>Indian</td>
                <td>30</td>
                <td>18/05/2022</td>
                <td>14:30:34</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Akhil</td>
                <td>akj91</td>
                <td>qwerty</td>
                <td>akj@gmail.com</td>
                <td>Indian</td>
                <td>30</td>
                <td>18/05/2022</td>
                <td>14:30:34</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Akhil</td>
                <td>akj91</td>
                <td>qwerty</td>
                <td>akj@gmail.com</td>
                <td>Indian</td>
                <td>30</td>
                <td>18/05/2022</td>
                <td>14:30:34</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Akhil</td>
                <td>akj91</td>
                <td>qwerty</td>
                <td>akj@gmail.com</td>
                <td>Indian</td>
                <td>30</td>
                <td>18/05/2022</td>
                <td>14:30:34</td>
            </tr>
</table>
</div>
{% endblock %}